body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  background-color: rgb(82, 19, 166);
  color: white;
  align-items: center;
  text-decoration: none;
}

nav a {
  display: block;
  font-size: 1.3em;
  margin: 10px;
  color: white;
  text-decoration: none;
}

nav span {
  font-size: 2em;
  color:cyan;
  text-transform: uppercase;
  text-decoration: none; 
}